.bundle
Gemfile.lock
vendor
game/builds
*~
.\#*
\#*\#
TAGS
*.sav
.DS_Store
.dragonruby
docs
mygame-sample
samples
CHANGELOG-CURR.txt
CHANGELOG-PREV.txt
console-logo.png
ctags-emacs
ctags-vim
dragonruby-controller.png
*.exe
VERSION.txt
README.txt
open-source-licenses.txt
font.ttf
eula.txt
dragonruby.png

logs
tmp